@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.main-div {
  width: 100%;
  min-height: 100vh;
}

.inner-div {
  width: 100%;
  height: 100vh;
  background: url("./Images/xhartankbg.JPG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1%;
  background: #fff;
}

.header img {
  width: 5%;
}

.header p {
  color: #fdcb6e;
  font-size: 70px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.identity {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.identity h5 {
  margin: 1% 0;
  color: #fff;
  font-size: 18px;
}

.identity p {
  cursor: pointer;
  border-radius: 30px;
  padding: 1% 2%;
  color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.6);
  font-size: 20px;
}

.identity p:hover {
  background: #fff;
  color: #000;
}

.identity p:nth-child(1) {
  margin-top: 15%;
}

.entrepreneur,
.investor {
  width: 100%;
  height: 0%;
  overflow: hidden;
  position: relative;
}

.entrepreneur p {
  background: #fff;
  width: 50%;
  padding: 1% 0;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}

.pitch {
  border-radius: 30px;
  background: #fff;
  color: #74b9ff;
  padding: 1% 2%;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.pitch-form-container {
  width: 100%;
  height: 0;
  display: none;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.pitch-form {
  width: 35%;
  padding: 1% 2%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #fff;
  position: relative;
}

.pitch-form input {
  padding: 2% 2%;
  border-radius: 4px;
  border: 1px solid #000;
  outline: none;
}

.pitch-form textarea {
  resize: none;
  outline: none;
  border: 1px solid #000;
}

.submit-pitch {
  cursor: pointer;
  padding: 2% 2%;
  background: #00b894;
  color: #fff;
  text-transform: uppercase;
  width: 31%;
  border-radius: 2px;
}

.close {
  top: 2%;
  right: 2%;
  position: absolute;
  width: 6%;
  cursor: pointer;
  border: 1px solid #333;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.close:hover {
  background: red;
  color: #fff;
  border: 1px solid #fff;
}

.back {
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  padding: 0.3% 0.6%;
  position: absolute;
  top: 2%;
  left: 2%;
}

.back:hover {
  background: #fff;
  color: #000;
}

.investor {
  width: 100%;
  min-height: 0%;
  overflow: hidden;
}

.all-pitches {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
}

.pitch-post {
  width: 60%;
  background: rgba(0, 0, 0, 0.3);
  padding: 1%;
  border-radius: 6px;
  color: #dfe4ea;
}

.pitch-post h2 {
  font-weight: 300;
}

.pitch-post h3 {
  font-weight: 100;
  margin-top: 1%;
  font-size: 18px;
}

.pitch-post p {
  border-radius: 10px;
  padding: 1% 1%;
  margin-top: 1%;
}

.pitch-post p:nth-child(odd) {
  background: #70a1ff;
  color: blue;
}

.pitch-post p:nth-child(even) {
  background: #e67e22;
  color: #000;
}

.offers {
  padding: 2% 0;
  position: relative;
}

.invest {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 15px;
  background: #fff;
  color: blue;
  border-radius: 20px;
  padding: 0.5% 2%;
}
